.container{
  background-color: blue;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input_hex{
  max-width: 20vh;
  min-height: 5vh;
  font-size: 4vh;
}
.rgb_text{
  width: 33vh;
  min-height: 5vh;
  font-size: 4vh;
  background-color: aliceblue;
  margin-top: 10px;
  padding: 5px;
}
.right{
background-color: greenyellow;
}
.wrong{
  background-color: rgb(255, 123, 47);
}